AnchorPane{
    -fx-background-color: yellow;
    -fx-alignment: center;
    -fx-background-color: cornflowerblue;
    -fx-background-size: cover;
}

shopGrid{
    -fx-background-color: navy;
}

ShopComponent{
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-border-color: black;
}

GridPane{
    -fx-border-radius: 20;
    -fx-background-radius: 20;
}

activeDeck{
    -fx-background-color: rgba(0,0,0);
}

Text{
    -fx-font-family: "Continuum Medium";
    -fx-font-size: 14;
    -fx-text-fill: yellow;
}

Label{
    -fx-font-family: "Continuum Medium";
}

Button {
    -fx-font-family: "Continuum Medium";
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-border-width: 4;
    -fx-font-size: 16;
    -fx-fill-width: true;
    -fx-fit-to-width: true;
    -fx-border-color: skyblue;
}

CardComponent{
    --block-text-color: white;
    -fx-border-color: black;
    -fx-background-color: skyblue;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-font-size: 14;
    -fx-font-family: "Continuum Medium";
}